*/node_modules/
egg-example/.autod.conf.js
egg-example/.eslintrc
egg-example/.eslintignore
egg-example/.idea/egg-example.iml
egg-example/.idea/jsLibraryMappings.xml
egg-example/.idea/misc.xml
egg-example/.idea/modules.xml
egg-example/.travis.yml
egg-example/appveyor.yml
egg-example/config/config.default.js
egg-example/config/plugin.js
egg-example/logs/example/common-error.log
egg-example/logs/example/egg-agent.log
egg-example/logs/example/egg-web.log
egg-example/logs/example/example-web.log
egg-example/package-lock.json
egg-example/package.json
egg-example/README.md
egg-example/README.zh-CN.md
egg-example/run/agent_config.json
egg-example/run/agent_config_meta.json
egg-example/run/application_config.json
egg-example/run/application_config_meta.json
